# ==========================================
# Python Cache
# ==========================================

__pycache__/
*.pyc
*.pyo
*.pyd


# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/
env/
ENV/


# ==========================================
# Data Files
# ==========================================

data/raw/
data/processed/


# ==========================================
# FastF1 Cache
# ==========================================

.fastf1_cache/


# ==========================================
# Streamlit
# ==========================================

.streamlit/


# ==========================================
# Jupyter Notebook
# ==========================================

.ipynb_checkpoints/


# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# IDE Files
# ==========================================

.vscode/
.idea/


# ==========================================
# Environment Variables
# ==========================================

.env
.env.*
!.env.example