<nav class="navbar">

    <div class="logo">

        <span class="logo-red">F1</span>

        <span class="logo-white">AI Strategist</span>

    </div>

    <ul class="nav-links">

        <li>
            <a href="index.html">Home</a>
        </li>

        <li>
            <a href="historical.html">Historical</a>
        </li>

        <li>
            <a href="live.html">Live</a>
        </li>

        <li>
            <a href="#">Documentation</a>
        </li>

        <li>
            <a href="#">GitHub</a>
        </li>

    </ul>

</nav>